@{
    ViewData["Title"] = "MusicBox";
}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <figure class="text-center">
                <blockquote class="blockquote display-4">
                    <p class="mb-0">Музика може змінити світ, оскільки вона здатна змінити людей</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Боно
                </figcaption>
            </figure>
        </div>
    </div>
</div>
